<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="com.sit.model.Student" id="stu" scope="prototype">
    <constructor-arg name="rollno" value="11"></constructor-arg>
        <constructor-arg name="name" value="Gayatri"></constructor-arg>
        <constructor-arg name="email" value="gayo@gmail.com"></constructor-arg>
    
    
    </bean>

</beans>